.env
REACT_APP_TMDB_API_TOKEN=Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5N2MzYmJmN2I0ZmViZDZkOWMyNDQ1NGUxNzZhMTU4OSIsIm5iZiI6MTczNTE5NTgyNy45MzQsInN1YiI6IjY3NmNmY2IzODI1ODI5NGJiODYxMzllZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.LQK75B7fyjhQtv_36DgiLgRp6lQtI79M6FKakBqdE8Q
REACT_APP_FIREBASE_API_KEY=AIzaSyAZgqz1O8wJ4J5Qq62VU1BE33KvX6i0Mm4
REACT_APP_FIREBASE_AUTH_DOMAIN=netflix-clone-8490f.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=netflix-clone-8490f
REACT_APP_FIREBASE_STORAGE_BUCKET=netflix-clone-8490f.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=588800167055
REACT_APP_FIREBASE_APP_ID=1:588800167055:web:f8ff1e9864803236ca74fa



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
